.page-main__head {
    background-image: url('/images/rwb_mark.svg');

    background-repeat: no-repeat;
    background-size: 20rem;
    background-position-y: -1rem;
    background-position-x: right;
}

.features__list > li {
    margin-bottom: 0.625rem;
}
